<!DOCTYPE html>
<html lang="en">

<head>
    {{> html_head }}
</head>

<body>
    <div class="main-content">
        {{> header }}
        <p>{{ errorMessage }}</p>
    </div>
    {{> footer }}
</body>
</html>