<!DOCTYPE html>
<html lang="en">

<head>
    {{> html_head }}
</head>

<body>
    <div class="main-content">
        {{> header }}
        <img class="portrait" src={{ img }} alt="Robot">
    </div>
    {{> footer }}
</body>
</html>